<!doctype html>
   <html>
     <head>
         <title>Welcome {{ STUDENT_NAME }} to Ansible</title>
     </head>
     <body>
       <p><strong>Configure your world your way &#153;</strong></p>
     </body>
   </html>
